app/code/community/CosmicCart/Integration/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="{{var wsdl.name}}"
	targetNamespace="urn:{{var wsdl.name}}">
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"
				schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
			<complexType name="salesOrderEntityToCreate">
				<all>
					<element name="customer_id" type="xsd:int"/>
				</all>
			</complexType>
		</schema>
	</types>
	<message name="salesOrderCreateRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="orderData" type="typens:salesOrderEntityToCreate"/>
	</message>
	<message name="salesOrderCreateResponse">
		<part name="result" type="xsd:int"/>
	</message>
	<portType name="{{var wsdl.handler}}PortType">
		<operation name="salesOrderCreate">
			<documentation>Create sales order</documentation>
			<input message="typens:salesOrderCreateRequest"/>
			<output message="typens:salesOrderCreateResponse"/>
		</operation>
	</portType>
	<binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="salesOrderCreate">
			<soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
			<input>
				<soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
</definitions>